/* Fonts */
@font-face{
    font-family: "Smythe";
    src: url('./Fonts/Smythe-Regular.ttf');
}

body {
    margin: 0;
    font-family: "Smythe", 'Times New Roman', Times, serif;
    width: 600px;
    margin: 0 auto;
} 

/* Utitlity classes */
.margin-zero {
    margin: 0;
}


/* header */
header {
    height: 170px;
    background-image: url('./Images/header_img.png');
    background-position: bottom;
    color: #FFF;
}

.header-title, .header-subtitle{
    padding-left: 45px;
}

.header-title {
    font-weight: normal;
    padding-top: 45px;
}

.header-subtitle {
    padding-bottom: 70px;
}

/* Item container */

.menu-item-outer-container {
    margin-top: 35px;
    border-bottom: 1px solid #D2D2D2;
}

.menu-item-container{
    border: 1px solid red;
    display: flex;
    width: 500px;
    height: 140px;
    justify-content: space-between;
    align-items: center;
    margin: 45px 45px 0 45px;
}

.menu-item-container-left {
    display: inline-flex;
    
}


.menu-item-description-ul{
    padding-left: 30px;
    margin: auto 0;
    list-style: none;
}

.food-emoji-p {
    font-size: 80px
}

.add-btn-container {
    display: flex;
    align-self: flex-start;  
}

.add-btn{
 
}