/* Fonts */
@font-face{
    font-family: "Smythe";
    src: url('./Fonts/Smythe-Regular.ttf');
}

body {
    margin: 0;
    font-family: "Smythe", 'Times New Roman', Times, serif;
    width: 600px;
    margin: 0 auto;
} 

/* Utitlity classes */
.margin-zero {
    margin: 0;
}


/* header */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('./Images/header_img.png');
    background-size: cover;
    background-repeat: none;
    background-position: center;
    color: #FFF;
    height: 165px;
}

.header-container{
    padding-left: 45px;
}

h1 {
    font-weight: normal;
    margin-bottom: 15px;
}
